/* 비밀번호 찾기 */

 /* * {border: 1px solid red;}  */
.find {
    width: 440px;
    height: 330px;
}

.searchpw {
    background-color: black;
    color: white;
    height: 60px;
    line-height: 55px;
    width: 420px;
    margin: 10px;
    padding-left: 10px;
}

.searchpw p{
    font-weight: bold;
    font-size: 15px;
    margin-left: 15px;
}

.find1 {
    margin: 10px;
    font-size: 12px;
    margin-top: 20px;
}

.find1 span {
    color: rgb(0, 0, 0);
    margin-left: 10px;
}

.find2 {
    background-color: #f6f3f0;
    width: 420px;
    height: 120px;
    padding-top: 10px;
    padding-left: 15px;
    margin: 10px;
}

#a {
  margin-top: 15px;
  
}
#b {
    margin-top: 3px;
    margin-left:10px;
}

.find3 {
    display: flex;
    justify-content: center;
    height: 50px;
}

.button1{
    background-color: white;
    border: none;
    width: 44px;
    height: 19px;
}

.button2 {
    background-color: #f0f0f0;
    border: none;
    width: 44px;
    height: 19px;
    
}

.find4 {
    display: flex;
    justify-content: flex-end;
    line-height: 30px;
    height: 40px;
    padding-right: 15px;
    background-color: #f0f0f0;
    width: 420px;
    margin: 10px;
}


