.bd { 
    margin-right: auto; 
    margin-left: auto; 
    width: 1020px;
    padding: 0 15px 100px 15px;
}
.so-001 { 
    text-align: center; 
    padding: 30px 0 5px 0; 
    font-size: 32px;
}
.so-002 { 
    text-align: center; 
    padding: 5px 0 50px 0; 
    font-size: 16px; 
    color: #aaa;
}
.so-003 { 
    text-align: center; 
    padding: 10px 0 10px 0; 
    font-size: 28px; 
    font: 100; 
    color: rgb(41, 40, 40);
}
.so-004 { 
    text-align: center; 
    padding: 10px 0 50px 0;
}
.so-005 { 
    margin: 50px;
}
.so-006 { 
    margin: 0 0 10px 50px; 
    font-size: 18px;
}
.so-007 { 
    margin: 0 0 10px 50px; 
    font-size: 14px; 
    color: #aaa;
}